/**
  * @name BetterDarkMode
  * @author LeBronzPlayz#6413
  * @version 1.1.0
  * @description Deeper blacks with enchanced UI, source reforked from DevEvil#8745 github link to his source is given.
  * @authorId 311846416836329472
  * @source https://devologger.github.io/betterdarkmode/
  * @website das
  * @invite 36UJ2fYkQg
*/
@import url('https://devologger.github.io/betterdarkmode/theme/BetterDarkMode.theme.css');
:root {
  --betterdarkmode-bg: #181818;
  --betterdarkmode-bg2: #252525;
  --betterdarkmode-sec: #f9f9f9;
  --betterdarkmode-links: #ffffff;
  --betterdarkmode-mention-button: #202020;
  --betterdarkmode-home-icon: url(https://i.pinimg.com/originals/05/10/f4/0510f4e596283c0d961e4338565a93f3.gif);
}