/**
  * @name BetterDarkMode
  * @author LeBronzPlayz#6413
  * @version 2.1.0
  * @description Deeper blacks with enchanced UI, source reforked from DevEvil#8745 github link to his source is given.
  * @authorId 311846416836329472
  * @source https://github.com/Devologger/BetterDarkMode-Discord-Theme
  * @invite 36UJ2fYkQg
  * @website https://devologger.github.io/betterdarkmode/

*/
:root {
  --betterdarkmode-bg: #181818;
  --betterdarkmode-bg2: #252525;
  --betterdarkmode-sec: #f9f9f9;
  --betterdarkmode-links: #ffffff;
  --betterdarkmode-mention-button: #202020;
  --betterdarkmode-home-icon: url(https://devologger.github.io/betterdarkmode/theme/logo.gif);
}
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
.theme-dark .changeDetails-1kMZqI,
.theme-dark .headerExpanded-1-zwDr {
  background-color: #313131;
}
.container-1ILvLB,
.container-3EtAkD,
.descriptionBox-SKGNgB,
.folderIconWrapper-1oRIZr,
.searchBar-zdmu7v,
.theme-dark .headerClickable-zGQJz3,
.theme-dark .headerDefault-1e6yjj, 
.wrapper-1NNaWG,
.inspector-DFKXwB {
  background-color: var(--betterdarkmode-bg2) !important;
}
.medium-2NClDM .input-2m5SfJ,
.medium-2NClDM .input-2m5SfJ::placeholder,
.medium-2NClDM .tag-Pxnlt9,
.medium-2NClDM .tag-Pxnlt9::placeholder, {
  background-color: var(--betterdarkmode-bg2);
  color: #d3d3d3;
}
.markup-eYLPri{
  color: rgb(233, 233, 233);
}
.form-3gdLxP .channelTextArea-1FufC0 .textArea-2CLwUE .placeholder-1_mJY1{
  color: rgb(105, 105, 105) !important;
}
.canvas-2-hC7a,
.card-2EUiNF,
.list-obNEuP,
.lookFilled-1GseHa.select-1Ia3hD,
.option-2eIyOn[aria-selected="true"],
.rowContainer-3t7486,
.selectorButton-3sW6Qm,
.settingCard-xZSDjS,
.settingCard-xZSDjS.active-3EK-ed,
.theme-dark .tooltipPrimary-3qLMbS,
.theme-light .tooltipPrimary-3qLMbS,
.noiseCancellationPopout-2-e5Xz {
  background-color: var(--betterdarkmode-bg2);
}
.popout-1KHNAq,
.rowContainer-3t7486:hover,
.selectorButtonSelected-3Z0WNU {
  background-color: #313131 !important;
}
.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover {
  background-color: #3b3b3b;
}
.activityText-1rR-8O {
  color: #d3d3d3;
}
input.input-2m5SfJ {
  color: var(--betterdarkmode-sec);
}
.input-2m5SfJ::placeholder,
.theme-dark .wrapper-1ZcZW- {
  color: var(--betterdarkmode-sec) !important;
}
.accountProfileCard-lbN7n-,
.bg-1QIAus,
.cardFolder-3H4uH4,
.container-2RRFHK,
.content-2a4AW9,
.header-JUTO-g,
.scrollerInner-2PPAp2,
.titleContainer-3fPic2,
.wrapper-1gVUIN.minimum-fXpVNc,
.spamBanner-1auiob,
main.chatContent-3KubbW,
.upsell-3B1lnN{
  background-color: var(--betterdarkmode-bg);
}
.container-2O1UgZ,
.container-ZMc96U.themed-Hp1KC_,
.footer-3naVBw {
  background: var(--betterdarkmode-bg);
}
.activityPanel-9icbyU {
  border-top: 1px solid var(--background-modifier-accent);
}
.addGamePopout-3yePJc.elevationBorderHigh-3drnJX,
.flexCenter-1Mwsxg.flex-3BkGQD.justifyCenter-rrurWZ.alignCenter-14kD11.activeGame-3ncS55.notDetected-2HEmAp,
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--betterdarkmode-bg2);
  border-radius: 10px;
}
.form-3gdLxP,
.panel-2ZFCRb.activityPanel-9icbyU,
.scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--betterdarkmode-bg);
}
.form-3gdLxP .channelTextArea-1FufC0 .textArea-2CLwUE .placeholder-1_mJY1 {
  color: var(--betterdarkmode-sec);
}
.form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  max-height: 45vh;
  background-color: var(--betterdarkmode-bg2);
  border-radius: 22px;
}
.form-3gdLxP .channelTextArea-1FufC0 {
  background-color: transparent;
}
.children-3xh0VB:after,
.form-3gdLxP:before {
  display: none;
}
.peopleList-2VBrVI.auto-2K3UW5.scrollerBase-_bVAAt {
  background-color: var(--betterdarkmode-bg);
}
.nowPlayingSidebar-2OFn0o {
  min-width: 300px;
  max-width: 300px;
}
.container-2o3qEW {
  background: #181818;
}
.container-1oAagU,
.customStatusActivity-WKWGD-,
.nameTagWithCustomStatus-5c-v3-.nameTag-2Nlmsy.nameTag-H6kSJ0,
.topSection-13QKHs {
  background-color: var(--betterdarkmode-bg);
}
.container-1oAagU .scroller-hE2gWq {
  margin-left: 0;
  border-left: none;
}
.wrapper-2RrXDg {
  background-color: var(--betterdarkmode-bg2);
  border: 0;
}
.wrapper-2RrXDg.active-1W_Gl9,
.wrapper-2RrXDg:hover {
  background-color: #313131 !important;
}
.header-3OsQeK,
.wrapper-2RrXDg .inset-SbsSFp,
.wrapper-2RrXDg .section-3G9aLW {
  background-color: var(--betterdarkmode-bg);
}
.header-3OsQeK {
  color: var(--betterdarkmode-sec);
}
.mention-3XBnnZ {
  background-color: var(--betterdarkmode-mention-button);
}
.mentioned-Tre-dv {
  background-color: rgba(var(--betterdarkmode-sec), 0.1) !important;
}
.iconBadge-3Mmg92,
.mentioned-Tre-dv:before {
  background-color: var(--betterdarkmode-sec);
}
.mentioned-Tre-dv:hover {
  background-color: rgba(var(--betterdarkmode-sec), 0.2) !important;
}
.container-YkUktl .button-12Fmur:nth-child(1) .contents-18-Yxp path,
.container-YkUktl .button-12Fmur:nth-child(2) .contents-18-Yxp path,
.container-YkUktl .button-12Fmur:nth-child(3) .contents-18-Yxp path,
.container-YkUktl .button-12Fmur:nth-child(4) .contents-18-Yxp path {
  fill: var(--betterdarkmode-sec);
}
.attachButton-_ACFSu .contents-18-Yxp path,
.button-3bklZh path,
.item-1OdjEX path {
  fill: var(--betterdarkmode-sec);
}
.attachButton-_ACFSu:hover .attachButtonPlus-3IYelE {
  fill: var(--betterdarkmode-links);
}
.actionButton-3-B2x- path,
.button-38aScr .contents-18-Yxp path,
.iconWrapper-2awDjA path,
.linkButtonIcon-7rsZcu path {
  color: var(--betterdarkmode-sec);
}
.actionIcon-2sw4Sl path,
.buttonIcon-2Zsrs2 path,
.metadataIcon-3QMhu9 path {
  fill: var(--betterdarkmode-sec);
}
.wrapper-NhbLHG.modeUnread-3Cxepe .content-1gYQeQ .mainContent-20q_Hp .channelName-3KPsGw,
.wrapper-NhbLHG.modeUnread-3Cxepe .content-1gYQeQ .mainContent-20q_Hp .icon-2W8DHg {
  color: var(--betterdarkmode-links);
}
.wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .icon-2W8DHg {
  color: #acacac;
}
.VoiceChatNotifications-button-icon,
.controlIcon-1grhw_ path,
.data-slate-string path,
.winButton-3UMjdg {
  color: var(--betterdarkmode-sec);
}
.mediaBarProgress-38I317,
.mediaBarProgress-38I317::after,
.mediaBarProgress-38I317::before,
.mediaBarWrapper-33h1oY .mediaBarGrabber-FvJKJg,
.progressBar-1T6LYX {
  background-color: var(--betterdarkmode-sec);
}
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg {
  background-color: var(--betterdarkmode-links);
}
.stageSection-3mAD8V {
  background-color: var(--betterdarkmode-bg);
}
.featuredTag-3pT1Rf {
  background-color: var(--betterdarkmode-bg2);
}
.colorHeaderPrimary-jN_yGr {
  color: var(--betterdarkmode-sec);
}
.lookFilled-1Gx00P.colorGreen-29iAKY,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--betterdarkmode-bg2);
  color: var(--betterdarkmode-sec);
}
.header-2EadGG,
.scroller-2XLwLg {
  background-color: var(--betterdarkmode-bg);
}
.header-2EadGG {
  border-bottom: none;
}
.headerCellContent-iBms3e,
.nameCellText-2i43C0 {
  color: var(--betterdarkmode-sec);
}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background-color: var(--betterdarkmode-sec);
  color: var(--betterdarkmode-bg2);
}
.scroller-1TOeMq {
  background-color: var(--betterdarkmode-bg);
}
.clickable-ZD7xvu:hover .icon-2xnN2Y,
.downloadButton-2HLFWN:hover {
  color: var(--betterdarkmode-links);
}
.anchor-1MIwyf,
.avatar-2e8lTP.clickable-31pE3P,
.avatar-2e8lTP:hover.clickable-31pE3P:hover,
.children-283-lq,
.downloadButton-2HLFWN,
.headerText-1qIDDT,
.icon-18rqoe,
.item-3mHhwr.item-3XjbnG.themed-2-lozF {
  color: var(--betterdarkmode-sec);
}
.homeIcon-r0w4ny path {
  fill: transparent;
}
.homeIcon-r0w4ny {
  background: var(--betterdarkmode-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}
.grid-1aWVsE {
  background-color: var(--betterdarkmode-bg2);
}
.membersGroup-2eiWxl {
  background-color: var(--betterdarkmode-bg);
  color: var(--betterdarkmode-sec);
}
.container-YkUktl {
  height: 85px;
}
.container-YkUktl .avatarWrapper-1B9FTW {
  position: absolute;
  bottom: 45px;
}
.container-YkUktl .nameTag-sc-gpq {
  position: absolute;
  bottom: 45px;
  left: 50px;
}
.container-YkUktl > .noWrap-hBpHBz {
  width: 224px;
  bottom: 5px;
  position: absolute;
}
.container-YkUktl > .noWrap-hBpHBz button {
  width: 100%;
  justify-content: space-evenly;
}
.baseLayer-W6S8cY,
.layers-OrUESM .layer-86YKbF[style*="scale(0)"]:first-of-type {
  transform: none !important;
}
.layers-OrUESM .layer-86YKbF:first-of-type[aria-hidden="true"] {
  transform: none !important;
  opacity: 1 !important;
  filter: brightness(0.25);
  pointer-events: none !important;
  transition: 100ms;
}
.contentRegion-3HkfJJ,
.sidebarRegionScroller-FXiQOh {
  background-color: var(--betterdarkmode-bg);
}
.contentRegion-3HkfJJ .contentRegionScroller-2_GT_N {
  background-color: transparent;
}
.background-3d_SjE {
  padding: 0;
  background-color: var(--betterdarkmode-bg2);
  border-radius: 30px;
}
.background-3d_SjE .profile-1o7I_1 {
  padding: 16px;
}
.background-3d_SjE .fieldList-in8WkP {
  padding: 16px;
  background-color: transparent;
}
.background-3d_SjE .constrainedRow-3y91Xf .button-38aScr {
  margin-left: 8px;
}
.layer-86YKbF {
  background-color: var(--betterdarkmode-bg);
}
.header-2Kx1US,
.item-3XjbnG.themed-2-lozF {
  color: var(--betterdarkmode-sec);
}
.theme-dark .bd-social-logo path,
.theme-dark .foreground-2hyALB {
  fill: var(--betterdarkmode-sec);
}
.feature-2IUcBI {
  background-color: var(--betterdarkmode-bg2) !important;
}
.theme-dark .closeButton-PCZcma {
  border-color: var(--betterdarkmode-sec);
}
.lookFilled-1Gx00P.colorBrand-3pXr91,
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--betterdarkmode-bg);
  background-color: var(--betterdarkmode-sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--betterdarkmode-links);
}
.defaultColor-2cKwKo,
.menu-3A7xxX {
  color: var(--betterdarkmode-sec);
}
.menu-3A7xxX {
  margin-right: 16px;
  cursor: pointer;
}
.description-30xx7u,
.labelDescriptor-34wZ-z {
  color: var(--betterdarkmode-links);
}
.h5-2RwDNl,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.title-2dsDLn {
  color: var(--betterdarkmode-sec);
}
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--betterdarkmode-bg);
}
.lookLink-9FtZy-.colorLink-35jkBc {
  color: var(--betterdarkmode-links);
}
.jumpToPresentBar-1cEnH0,
.unread-36eUEm {
  background-color: var(--betterdarkmode-sec);
}
.arrow-2HswgU.icon-3zI3d2 {
  color: var(--betterdarkmode-sec);
}
.jumpToPresentBar-1cEnH0 {
  border-radius: 20px;
}
.barButtonBase-Sk2mdB,
.numberBadge-37OJ3S {
  color: var(--betterdarkmode-bg);
}
.numberBadge-37OJ3S {
  background-color: var(--betterdarkmode-sec) !important;
}
.item-2LIpTv {
  background-color: var(--betterdarkmode-sec);
}
.container-1zzFcN {
  background-color: var(--betterdarkmode-bg);
}
.button-1EGGcP .buttonColor-3bP3fX,
.button-1EGGcP.buttonColor-3bP3fX {
  background-color: var(--betterdarkmode-bg2);
  color: var(--betterdarkmode-sec);
}
.addButtonIcon-3rJeaD:hover,
.subtext-2HDqJ7 {
  color: var(--betterdarkmode-links);
}
.addButtonIcon-3rJeaD {
  color: var(--betterdarkmode-sec);
}
.activity-2M3PRB,
.header-S26rhB {
  background-color: var(--betterdarkmode-bg);
}
.activityHeader-2shpl0,
.circleIconButton-1QV--U {
  color: var(--betterdarkmode-sec);
}
.circleIconButton-1QV--U,
.infoScroller-1QMpon.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--betterdarkmode-bg2);
}
.circleIconButton-1QV--U.selected-1JjBPm {
  color: var(--betterdarkmode-bg2);
  background-color: var(--betterdarkmode-sec);
}
.tabBar-2hXqzU {
  background-color: var(--betterdarkmode-bg);
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
  border-bottom-color: var(--betterdarkmode-sec);
}
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
  border-bottom-color: var(--betterdarkmode-links);
}
.additionalActionsIcon-3Cy8UU {
  color: var(--betterdarkmode-sec);
}
.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--betterdarkmode-bg2);
  color: var(--betterdarkmode-sec);
}
.newMessagesBar-1hF-9G,
.unreadPill-3nEWYM {
  background-color: var(--betterdarkmode-sec);
}
.unreadPill-3nEWYM {
  color: var(--betterdarkmode-bg2);
}
#app-mount .divider-2rZFJK.isUnread-3Lojb- {
  border-top: 1px solid var(--betterdarkmode-sec);
}
.unreadPillCapStroke-1nE1Q8 {
  fill: var(--betterdarkmode-sec);
}
.label-2gNW3x,
.title,
.unreadPillCapStroke-1nE1Q8 {
  color: var(--betterdarkmode-sec);
}
#permissions-modal-wrapper #permissions-modal {
  height: 80%;
}
#permissions-modal-wrapper .modal-body .perm-side {
  width: 400px;
}
#permissions-modal-wrapper .perm-scroller .perm-item {
  height: unset;
}
#permissions-modal-wrapper .perm-scroller {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, calc(100% / 17));
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  margin-left: 5px;
  color: var(--betterdarkmode-sec);
}
#permissions-modal-wrapper .perm-scroller svg {
  height: 20px !important;
  width: 20px !important;
}
#permissions-modal-wrapper .header,
#permissions-modal-wrapper .perm-side,
#permissions-modal-wrapper .role-side {
  background: var(--betterdarkmode-bg) !important;
}
.editingContainer-1_nnqZ,
.header-1zd7se,
.modalContent-317Xyq,
.theme-dark .footer-31IekZ {
  background-color: var(--betterdarkmode-bg);
}
.icon-3CEl7H {
  color: var(--betterdarkmode-sec);
}
.grabber-2GQyvM {
  background-color: var(--betterdarkmode-sec);
  border: var(--betterdarkmode-sec);
}
.avatarUploaderIndicator-2G-aIZ,
button[aria-label="Send a gift"] {
  display: none;
}
.addInputWrapper-1BOZ3d {
  background-color: var(--betterdarkmode-bg);
}
.colorStandard-21JIj7 {
  color: #000;
}
.wrapper-1cBijl {
  background-color: var(--betterdarkmode-bg2);
}
.addFriendInput-1Ta-rO::placeholder,
.input-2g-os5::placeholder,
.input-3r5zZY::placeholder {
  color: var(--betterdarkmode-sec);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--betterdarkmode-links);
}
.header-30YxSJ {
  color: var(--betterdarkmode-sec);
}
.description-1EvxpH {
  color: var(--betterdarkmode-links);
}
.friendsEmpty-gs15T1 {
  background-color: var(--betterdarkmode-bg);
}
#bd-pub-button,
.button-Jt-tIg {
  background-color: var(--betterdarkmode-sec);
  color: var(--betterdarkmode-bg);
  font-weight: 700;
}
#bd-pub-button:hover,
.iconBadge-3qSJIw,
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--betterdarkmode-links);
  color: var(--betterdarkmode-bg);
}
#bd-pub-button:hover {
  font-weight: 700;
}
.iconBadge-3qSJIw {
  background-color: var(--betterdarkmode-sec);
}
.label-2wRs_g {
  color: var(--betterdarkmode-sec);
}
.quickswitcher-pKcM9U {
  background-color: var(--betterdarkmode-bg);
}
.input-3r5zZY {
  background-color: var(--betterdarkmode-bg2);
}
.header-1ZpMzy,
.match-20K5f5 {
  color: var(--betterdarkmode-sec);
}
.miscContainer-33U-X-,
.note-OhIxFa {
  color: var(--betterdarkmode-links);
}
.theme-dark .wrapper-1ZcZW- {
  background-color: transparent;
}
.container-36u7Lw {
  background-color: var(--betterdarkmode-bg);
  border-color: var(--betterdarkmode-bg);
}
.container-x8Y1ix {
  background-color: var(--betterdarkmode-bg2);
}
.container-x8Y1ix:hover,
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
  background-color: #313131;
}
.title-1_TkpU {
  color: var(--betterdarkmode-sec);
}
.subtitle-3m-md1 {
  color: var(--betterdarkmode-links);
}
.footerTitle-3Bslxi,
.formTitle-2YQyhj,
.title-1LqMUp {
  color: var(--betterdarkmode-sec);
}
.sampleLink-5BWNy9 {
  color: var(--betterdarkmode-links);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb,
.input-2g-os5 {
  background-color: var(--betterdarkmode-bg2);
}
.avatar-6qzftW,
.base-21yXnu {
  color: var(--betterdarkmode-sec);
}
.scroller-3j5xK2,
.thin-31rlnD.scrollerBase-_bVAAt {
  background-color: var(--betterdarkmode-bg);
}
.guildName-1sOa9v {
  color: var(--betterdarkmode-sec);
}
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL,
.searchTitle-1qceKb {
  color: var(--betterdarkmode-bg);
}
.searchBox-pyIJJj.searchBox-31Zv9h {
  background-color: var(--betterdarkmode-sec);
}
.input-2m5SfJ::placeholder {
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::placeholder {
  color: var(--betterdarkmode-bg);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--betterdarkmode-links);
}
.theme-dark .footer-VCsJQY,
.theme-dark .uploadModal-2ie9O_ {
  background-color: var(--betterdarkmode-bg);
}
.filename-1r50Xu {
  color: var(--betterdarkmode-sec);
}
.scrollableContainer-15eg7h {
  background-color: var(--betterdarkmode-bg2);
}
.label-21vOgf {
  color: var(--betterdarkmode-sec);
}
.navButton-1XuvI-:hover,
.optional-2lmRBw,
.unicodeShortcut-3N8oDe:hover {
  color: var(--betterdarkmode-links);
}
.typeWindows-2-g3UY {
  position: relative;
}
.wordmark-2u86JB {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--betterdarkmode-sec);
}
.navButtonActive-1EqC5l {
  background-color: var(--betterdarkmode-bg);
  color: var(--betterdarkmode-sec);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--betterdarkmode-sec);
}
.botTagRegular-kpctgU,
.categoryIcon-2cYeku,
.header-1XpmZs,
.navButton-1XuvI-,
.unicodeShortcut-3N8oDe {
  color: var(--betterdarkmode-sec);
}
.field-21XZwa > div > div > div {
  filter: blur(5px);
}
.field-21XZwa > div > div > div:hover {
  filter: blur(0);
}
.botTagRegular-kpctgU,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN,
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
  background-color: var(--betterdarkmode-bg2);
}
.premiumContainer-3GGa8Q,
.scroller-29cQFV {
  background-color: var(--betterdarkmode-bg);
}
.marketingRefreshDescription-2_tCTt,
.marketingRefreshTier1Logo-38ksW_,
.sectionDescription-3uMpPK,
.tab-2j5AEF.selected-2LAck8 {
  color: var(--betterdarkmode-sec);
}
.perksModalContentWrapper-2HU6uL {
  background-color: var(--betterdarkmode-bg);
}
.resultsGroup-1BPR25 {
  color: var(--betterdarkmode-sec);
}
.queryContainer-EKFJW-,
.resultsGroup-1BPR25 {
  background-color: var(--betterdarkmode-bg);
}
.animatedContainer-2laTjx,
.bannerImage-ubW8K-,
.content-2a4AW9 [style="height: 84px;"] {
  display: none;
}
.hasBanner-2IrYih .header-3OsQeK,
.hasBanner-2IrYih .header-3OsQeK:hover {
  color: var(--header-primary);
  box-shadow: var(--elevation-low);
}
.iconTierOne-s_oiRb,
.iconTierTwo-1JOWNK {
  color: var(--betterdarkmode-bg);
}
.iconCaret-SHvQdG,
.pageButton-1GMGeJ {
  color: var(--betterdarkmode-sec);
}
.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover {
  color: var(--betterdarkmode-bg);
  background-color: var(--betterdarkmode-sec);
}
.hasBanner-2IrYih .header-3OsQeK,
.hasBanner-2IrYih .header-3OsQeK:hover,
.replyBar-1oi75v {
  background-color: var(--betterdarkmode-bg);
}
.closeIcon-1bRhE8,
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
  color: var(--betterdarkmode-sec);
}
.colorHeaderSecondary-g5teka {
  color: var(--betterdarkmode-bg);
}
.channelHeader-DFRX8q,
.messages-23can0 {
  background-color: var(--betterdarkmode-bg2);
}
.base-21yXnu.muted-eZM05q,
.tertiary-1e-lAP,
.tutorialIcon-25VF3Q {
  background-color: var(--betterdarkmode-bg);
  color: var(--betterdarkmode-sec);
}
.tertiary-1e-lAP:hover:not(.disabled-184-il) {
  background-color: var(--betterdarkmode-bg);
  color: var(--betterdarkmode-sec);
}
.secondary-2bzKEX {
  background-color: var(--betterdarkmode-bg2);
  color: var(--betterdarkmode-sec);
}
.secondary-2bzKEX:hover:not(.disabled-184-il) {
  background-color: var(--betterdarkmode-bg2);
  color: var(--betterdarkmode-sec);
}
.messageContainer-3VTXBC,
.theme-dark .tab-2j5AEF.selected-2LAck8 {
  background-color: var(--betterdarkmode-bg2);
}
.wrapper-22ayhK {
  background-color: var(--betterdarkmode-bg);
}
.scroller-3X7KbA {
  background-color: var(--betterdarkmode-bg) !important;
}
.tab-2j5AEF {
  color: var(--betterdarkmode-sec);
}
.message-24k8JL {
  background-color: var(--betterdarkmode-bg2);
}
.section-3G9aLW {
  color: var(--betterdarkmode-links);
}
.colorStandard-21JIj7 {
  color: var(--betterdarkmode-bg);
}
.backButton-2Ps-B8,
.grow-q77ONN,
.input-2g-os5,
.size14-3fJ-ot,
.sizeIcon-1-kvKI,
.skip-2hTIXL,
.subtitle-bIoUVX {
  color: var(--betterdarkmode-sec);
}
.activity-1gTu-L,
.body-2wLx-E,
.rolesList-3uZoaa,
.theme-dark .root-g14mjS {
  background-color: var(--betterdarkmode-bg);
}
.size12-oc4dx4 {
  color: var(--betterdarkmode-sec);
}
.customStatus-1UAQAK {
  width: 120px;
}
.icons-2dXYop,
.selectedIcon-19TbzU {
  color: var(--betterdarkmode-sec);
}
.card-1SdQ2-,
.radioBar-3w9XY- {
  background-color: var(--betterdarkmode-bg2);
}
.channelIcon-1su68_,
.channelInfo-2wVmf0,
.ellipsisText-jQS2Ek,
.radioIconForeground-2BMavi,
.selectedIcon-1JOfpo {
  color: var(--betterdarkmode-sec);
}
.textContent-TsKzji {
  color: var(--betterdarkmode-sec) !important;
}
.actionButton-3-B2x-:hover {
  background-color: #313131 !important;
}
.cozy-3hKWhq.wrapper-15CKyy {
  background-color: var(--betterdarkmode-bg);
}
.acronym-2zrAHN,
.content-3spvdd,
.isUnread-3Lojb- .content-3spvdd {
  color: var(--betterdarkmode-sec);
}
.acronym-2zrAHN {
  background-color: var(--betterdarkmode-bg);
}
.expandedFolderBackground-1cujaW {
  background-color: var(--betterdarkmode-bg2);
}
.contentWrapper-3vHNP2,
.header-1ULbqO {
  background-color: var(--betterdarkmode-bg);
}
.titlePrimary-23rNQQ,
.titleSecondary-3hcpuB {
  color: var(--betterdarkmode-sec);
}
.inspector-2A2Chb {
  background-color: var(--betterdarkmode-bg);
}
.icon-3jQD8H {
  color: var(--betterdarkmode-sec);
}
.bodyInnerWrapper-2bQs1k,
.footer-1Dc_h6,
.headerTop-3GPUSF,
.headerTopWithCustomStatus-1aNSNd {
  background-color: var(--betterdarkmode-bg);
}
.memberCountContainer-30IqIo {
  color: var(--betterdarkmode-sec);
}
.icon-3CDcPB,
.theme-dark .tierBody-1d3UiS {
  background-color: var(--betterdarkmode-bg2);
}
.arrow-2v2Yl2,
.emptyRoles-35rHsg,
.emptyRolesText-30nyzO,
.icon-1GbPE7,
.icon-2DGsye,
.label-2Pe5f1,
.size16-rrJ6ag,
.tierLock-1eabw6,
.tierRequirement-7q3_7- {
  color: var(--betterdarkmode-sec);
}
.wrapper-24fR1R {
  background-color: var(--betterdarkmode-bg2);
}
.categoryItemDefaultCategory-3haEDq:hover .categoryIcon-2cYeku,
.categoryItemDefaultCategorySelected-2YeRUu .categoryIcon-2cYeku,
.categoryItemDefaultCategorySelected-2YeRUu:hover .categoryIcon-2cYeku,
.css-19bqh2r,
.emptyTierImage-2bJjxU,
.unlockTierCtaHeading-18Nq1u {
  color: var(--betterdarkmode-sec);
}
.theme-dark .option-2KkUJO:after {
  background: 0 0;
}
.textContent-TsKzji {
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  border-color: var(--betterdarkmode-sec);
  color: var(--betterdarkmode-sec);
  border-radius: 25px;
}
.css-4h5swf-singleValue {
  color: var(--betterdarkmode-sec);
}
.bottomInformationTextContainer-3xmddX,
.container-nwU-8G,
.stickerResults-cD_yeI,
.theme-dark .message-G6O-Wv {
  background-color: var(--betterdarkmode-bg2);
}
.keybindShortcut-3zF1P9 span {
  border: var(--betterdarkmode-sec);
}
.discriminator-2m-MqL,
.headerTagDiscriminatorNoNickname-dfcvHa,
.overflowMenuIcon-2Bjb5_,
.resultsGroup-1BPR25 .header-3A13BX,
.text-PdAsFQ,
.theme-dark .searchOption-351dTI .answer-2fBfuP,
.theme-dark .searchOption-351dTI .filter-5YbOzJ,
.username-3JLfHz {
  color: var(--betterdarkmode-sec);
}
.keybindShortcut-3zF1P9 span,
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
  background-color: var(--betterdarkmode-bg2);
}
.activityPanel-9icbyU,
.container-YkUktl,
.container-ZMc96U.themed-Hp1KC_,
.peopleColumn-1wMU14,
.peopleList-2VBrVI,
.scroller-WSmht3,
.scroller-kQBbkU,
.searchBar-3TnChZ {
  background-color: var(--betterdarkmode-bg);
}
.theme-dark .children-3xh0VB:after {
  background: var(--betterdarkmode-bg);
}
.brand-3g5E0C.item-3XjbnG:hover,
.button-12Fmur,
.button-12Fmur.enabled-9OeuTA:hover,
.clickable-ZD7xvu .icon-2xnN2Y,
.clickable-ZD7xvu:hover .icon-2xnN2Y:hover,
.customStatus-1UAQAK,
.discriminator-WV5K5s,
.hovered-20u3oh,
.icon-2xnN2Y,
.linkButtonIcon-7rsZcu,
.tabBar-ra-EuL .item-3mHhwr,
.text-MPIeXO,
.themed-2-lozF.item-3XjbnG:hover,
.title-17SveM,
.title-338goq,
.title-x4dI75,
.username-Qpc78p {
  color: var(--betterdarkmode-sec);
}
.input-2m5SfJ,
.medium-2NClDM.iconLayout-3Bjizv,
.noiseCancellationPopout-2-e5Xz, {
  background-color: var(--betterdarkmode-bg2);
}
.icon-3CDcPB.visible-CwPfRb {
  color: #acacac;
}
.actionButton-3-B2x- {
  color: var(--betterdarkmode-sec);
}
.actionButton-3-B2x-:hover {
  color: var(--betterdarkmode-bg);
  background-color: var(--betterdarkmode-sec);
}
.selected-1-Z6gm .layout-1qmrhw {
  background-color: var(--betterdarkmode-bg2);
}
.actionButton-3-B2x-,
.members-3WRCEx,
.members-3WRCEx > div,
.container-2c4_8A,
.submitContainer-1DHMA0 {
  background-color: var(--betterdarkmode-bg);
}
.attachButtonPlus-3IYelE {
  fill: var(--betterdarkmode-sec);
}
::-webkit-scrollbar-thumb {
  background-color: var(--betterdarkmode-sec) !important;
}